.section {
  background-color: #f4f4f4;
  display: flex;
  padding: 6rem 0;
}

.content {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

.subtitle {
  background-color: #e8e8e8;
  padding: 5px 10px;
  color: var(--dark);
  font-size: var(--font-size-xxs);
  width: fit-content;
  border-left: 3px solid var(--primary);
}

.title {
  color: var(--dark);
  font-size: var(--font-size-md);
  font-weight: 600;
  max-width: 300px;
}

.accordions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.accordionHeader {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
  color: var(--dark);
}

.accordion {
  cursor: pointer;
}

.accordionHeader > p {
  font-size: 24px;
}

.accordionHeader > h3 {
  font-size: 18px;
}

.accordionContent {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.accordionContent.active {
  opacity: 1;
  height: auto;
}

.accordionContent > p {
  font-size: var(--font-size-xsm);
  line-height: 1.5;
  color: var(--dark-light);
}

.content {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
}

.right {
  position: relative;
  width: 50%;
  min-height: 400px;
  margin-left: 200px;
}

.image {
  width: 100%;
  height: 100%;
}

.rightBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #091242;
  color: #fff;
  padding: 40px;
  width: fit-content;
}

.rightBox > div {
  display: flex;
  align-items: center;
  font-weight: 200;
  font-size: var(--font-size-xsm);
}

.rightBox > div > div:first-child {
  margin-right: 10px;
  background-color: #111c55;
  border: 1px solid #2d3a7b;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
}

.rightBoxSubtitle {
  font-size: var(--font-size-xxs);
  background-color: #111c55;
  width: fit-content;
  border-left: 3px solid var(--primary);
  padding: 5px 10px;
}

.rightBoxTitle {
  max-width: 300px;
}


@media screen and (max-width: 1366px){
  .left{
    min-width: 100%;
  }
  .content{
    margin: 0 4rem;
  }
}

@media screen and (max-width: 1024px){
  .section{
    flex-direction: column;
  }

  .right{
    margin-top: 10rem;
    margin-left: 0;
    width: 100%;
  }

  .rightBox{
    top: 0;
    height: 100%;
    right: 0;
    left: 0;
    transform: translate(0);
  }

  .image{
    min-width: 100%;
  }
}