.section {
  padding: 6rem 0;
  background-color: #f4f4f4;
}
.section > div {
  display: flex;
}

.left {
  position: relative;
  width: 60%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.right > h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--dark);
}

.right > div {
  display: flex;
  gap: 15px;
}

.right > div > p {
  width: 30%;
  text-align: right;
}

.right p {
  color: var(--dark);
  font-weight: 700;
}

.right span {
  color: var(--dark);
  font-weight: 400;
}

@media screen and (max-width: 1040px) {
  .left {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 3rem 0;
  }

  .section > div {
    padding: 0.5rem;
    flex-direction: column;
  }

  .right {
    padding-left: 0;
    padding-right: 0;
  }

  .right > div {
    width: 100%;
    justify-content: flex-start;
  }

  .left {
    width: 100%;
    min-height: 400px;
  }

  .right > div > p {
    text-align: left;
    width: fit-content;
  }
}
