:root{
  /* Colors */
  --primary: #FFF;
  --primary-second: #091242;
  --secondary: #F4F4F4;
  --dark: #1C1F35;
  --dark-light: #666C89;
  --gradient: linear-gradient(90deg, rgba(255,182,41,1) 0%, rgba(255,218,86,1) 50%, rgba(255,215,166,1) 100%);

  /* Font Sizes */
  --font-size-xxl: 64px;
  --font-size-xl: 48px;
  --font-size-l: 40px;
  --font-size-md: 32px;
  --font-size-sm: 24px;
  --font-size-xs: 16px;
  --font-size-xsm: 14px;
  --font-size-xxs: 13px;


}

body {
  line-height: 1.5;
  background: linear-gradient(180deg, #eef2ff, rgba(238, 242, 255, 0));
  min-height: 100vh;
  font-size: var(--font-size-s);
  color: var(--dark-light);
}

.container {
  max-width: 1024px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
