@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&display=swap");

:root {
  /* Colors */
  --primary: #ffbe34;
  --primary-second: #091242;
  --secondary: #f4f4f4;
  --dark: #1c1f35;
  --dark-light: #666c89;
  --gradient: linear-gradient(
    90deg,
    rgba(255, 182, 41, 1) 0%,
    rgba(255, 218, 86, 1) 50%,
    rgba(255, 215, 166, 1) 100%
  );

  /* Font Sizes */
  --font-size-xxl: 64px;
  --font-size-xl: 48px;
  --font-size-lg: 40px;
  --font-size-md: 32px;
  --font-size-sm: 20px;
  --font-size-xs: 16px;
  --font-size-xsm: 14px;
  --font-size-xxs: 13px;
}

body {
  line-height: 1.5;
  background: #fff;
  min-height: 100vh;
  font-size: var(--font-size-s);
  color: var(--dark-light);
}

.container {
  max-width: 1024px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
