.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: -190px;
  height: 100vh;
  z-index: 0;
  width: 100%;
  background-image: url("/assets/images/hero-banner.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.container {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.heroSubTitle {
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding: 5px 10px;
  border-left: 4px solid #ffda56;
}

.heroTitle {
  display: inline-block;
  max-width: 450px;
  font-size: clamp(36px, 5vw, var(--font-size-xl));
  font-weight: 700;
  line-height: 1.25;
}

.heroDescription {
  max-width: 400px;
  font-weight: 300;
  margin-bottom: 20px;
}
