.container {
  display: flex;
  max-width: 1024px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: relative;
  z-index: 2;
}

.headerTop {
  display: flex;
  align-items: center;
  background-color: var(--primary-second);
  height: 120px;
  z-index: 2;
}

.headerInfo {
  display: flex;
  gap: 50px;
}

.headerInfoItem {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xxs);
  color: #fff;
}

.headerInfoIcon {
  margin-right: 10px;
  font-size: 42px;
  border-radius: 50%;
  background-color: #111c55;
  border: 1px solid #273270;
  padding: 10px;
  color: #f6b426;
}

.headerBottom {
  display: flex;
  background-color: rgba(9, 18, 66, 25%);
  height: 70px;
}

.headerBottomRight {
  display: flex;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 70px;
  color: #fff;
  font-size: var(--font-size-xxs);
}

.navigationItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation > li {
  position: relative;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.navigation > li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  top: calc(50% - 7.5px);
  right: -20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.navigationItem::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navigation > li:hover > .navigationItem::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 15px;
}

.socialMediaIcon {
  font-size: 18px;
  height: 20px;
  color: #fff;
}

.button {
  background-color: #fff;
  height: 70px;
  font-weight: 600;
  padding: 0 40px;
}

.hamburger {
  display: none;
  font-size: 24px;
  height: 24px;
  color: #fff;
  cursor: pointer;
  transform: rotate(0);
  transition: transform 0.4s linear;
}

.hamburger:hover {
  transform: rotate(180deg);
  transition: transform 0.4s linear;
}

@media screen and (max-width: 1024px) {
  .headerInfo,
  .navigation {
    display: none;
  }

  .headerBottomRight {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    opacity: 1;
    display: block;
  }
}

/* Submenu */
.subMenuParent:hover > div {
  height: 110px;
  transition: height 0.5s ease-in-out;
}

.subMenuParent:hover > .subMenu > ul {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.subMenuParent {
  position: relative;
}

.subMenu {
  position: absolute;
  height: 0;
  transition: height 0.5s ease-in-out;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.subMenu > div {
  position: relative;
  z-index: 2;
}

.subMenu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  font-size: var(--font-size-xsm);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: var(--dark);
}
